# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
REACT-UI/node_modules/*
REACT-UI/build/*
/.pnp
.pnp.js
venv
flask_api/venv
env
flask_api/.env

# testing
/coverage

# production
REACT-UI/build
*.save
satic_var.json
app_env.py
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
__pycache__

npm-debug.log*
yarn-debug.log*
yarn-error.log*
